<mat-horizontal-stepper linear labelPosition="bottom">
  <mat-step label="Project Details">
    <app-project-details></app-project-details>
  </mat-step>
  <mat-step label="Project Gallery">
    <app-project-gallery></app-project-gallery>
  </mat-step>
  <mat-step label="Project Costs">
    <app-project-costs></app-project-costs>
  </mat-step>
  <mat-step label="Project Includes">
    <app-project-includes></app-project-includes>
  </mat-step>
  <mat-step label="Project Dates">
    <app-project-dates></app-project-dates>
  </mat-step>
</mat-horizontal-stepper>